extends layout
block content
 h1= title
 form(id='rabbit', action="/resource/rabbit", method="POST")
  div.form-group
    label.rabbitAttr(for='rabbit_Name') rabbit Name
    input#rabbit_Name(type='String', name='rabbit_Name')
  div.form-group
    label.rabbitAttr(for='rabbit_Price') rabbit Price
    input#rabbit_Price(type='number', name='rabbit_Price')
  div.form-group
    label.rabbitAttr(for='useType') rabbit gender
    input#rabbit_gender(type='String', name='rabbit_gender')
  input(type="submit")
 script.
    document.forms['rabbit'].addEventListener('submit', (event) => {
     event.preventDefault();
     // TODO do something here to show user that form is being submitted
     fetch(event.target.action, {
      method: 'POST',
      body: new URLSearchParams(new FormData(event.target)) // event.target is the form
     }).then((resp) => {
      return resp.json(); // or resp.text() or whatever the server sends
     }).then((body) => {
      alert("Save succeded")
      // TODO handle body
     }).catch((error) => {
      // TODO handle error
      alert("Save failed " + error )
     });
    });